<launch>
  <arg name="model" default="$(find xacro)/xacro --inorder '$(find mybot_description)/urdf/xacro/mybot.xacro'" />
  <arg  name="gui"  default="True" />

  <param name="robot_description" command="$(arg model)" />
  
  <param name="use_gui"   value="$(arg gui)" />

  <node  name="joint_state_publisher"  pkg="joint_state_publisher"  type="joint_state_publisher" />
  
  <node  name="robot_state_publisher"  pkg="robot_state_publisher"   type="robot_state_publisher" />

  <node  name="rviz"  pkg="rviz"   type="rviz"   args="-d $(find mybot_description)/urdf.rviz" />
</launch>
