<launch>
    <!-- load yaml -->
    <rosparam file="$(find mybot_control)/config/gazebo_joint_state.yaml" command="load"/>

    <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/mybot" args="joint_state_controller" />

    <!-- publish node robot_state_publisher and tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/mybot/joint_states" /> 
    </node>

</launch>
